<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#000000"/>
    {% include 'react/css.html' %}
    <title>Good night</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
  </head>
  <body>
  <noscript>You need to enable JavaScript to run this app.</noscript>
    {% include "components/navbar.html" %}
    <div class="container">
    {% block content %}
    {% endblock content %}
   </div>
  {% include 'react/base_embed.html' %}
  {% include 'react/js.html' %}
  </body>

</html>
